.cell-box { 
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 0;
    size: 100% 100%;
    display: flex;
    aspect-ratio: 1 / 1; 
    overflow: hidden;
} 

.cell-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.cell-image-1token1, .cell-image-1token2, .cell-image-2token2  {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.cell-image-1token1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell-image-1token2 {
    top: 0;
    left: 0;
}

.cell-image-2token2 {
    bottom: 0;
    right: 0;
}

.fire-1token-1, .fire-1token-2, .fire-2token-2, .ice-1token-1, .ice-1token-2, .ice-2token-2, .poison-1token-1, .poison-1token-2, .poison-2token-2{
    position: absolute;
    width: 16.6%;
    height: 16.6%;
    margin: 0;
    padding: 0;
}

.fire-1token-1, .ice-1token-1, .poison-1token-1{
    top: 25%;
    left: 25%;
}

.fire-1token-2, .ice-1token-2, .poison-1token-2{
    top: 0;
    left: 0;
}

.fire-2token-2, .ice-2token-2, .poison-2token-2{
    top: 50%;
    left: 50%;
}

.ice-1token-1, .ice-1token-2, .ice-2token-2{
    transform: translate(100%, 0);
}

.poison-1token-1, .poison-1token-2, .poison-2token-2{
    transform: translate(200%, 0);
}