.item-box {
    background-color: rgba(0, 0, 0, 0); 
    border: 1px solid rgba(0, 0, 0, 0); 
    border-radius: 8px; 
    margin: 0;
    padding: 3%;
    transition: transform 0.2s; 
}

.item-box:hover {
    transform: scale(1.05); 
}

.item-image {
    width: 96%; 
    height: auto;  
    object-fit: cover; 
}