@inherits LayoutComponentBase
<div class="page" style="height: 100%;">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/karlaYisel" target="_blank">Sobre el Autor</a>
        </div> <!-- estilizar, fondo y mas datos, tal vez poner menu aqui durante el juego -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
