#page-container{
    position: relative;
    width: 80vw;
    height: 85vh;
    margin: 0;
    padding: 0;
    line-height: 0;
    display: flex;
}

.maze-box{
    aspect-ratio: 1/ 1;
    border: 2px solid rgb(0, 0, 0);
    overflow: auto;
    position: relative;
    padding: 0;
}

.cells-grid{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    aspect-ratio: 1 / 1;
    row-gap: 0;
    column-gap: 0;
    width: 100%;
    position: absolute;
}

.maze-box .row {
    aspect-ratio: 1 / 1; 
}

#player-menu .row {
    margin-bottom: 3px;
}

.row {
    margin: 0;
    padding: 0;
}

.textbox{
    position: relative;
    overflow: hidden;
}

.fill-content{
    position: absolute;
    padding: 0;
    margin: 5%;
    height: 90%;
    width: 90%;
    overflow: auto;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

.textbox h3{
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.in-game-menu, .textbox{
    margin: 0;
    padding: 0;
}

@media(min-width: calc(85vh + 20vw))
{
    @media(min-width: calc(85vh + 20vw + 200px))
    {
        .in-game-menu{
            overflow: auto;
            width: calc((80vw - 85vh)/2);
        }

        #player-menu{
            height: 85vh;
            position: absolute;
            top: 0;
            left: 0;
        }

        #token-menu{
            height: 60vh;
            position: absolute;
            bottom: 0;
            left: calc((80vw + 85vh)/2);
        }

        .maze-box{
            height: 85vh;
            position: absolute;
            top: 0;
            left: calc((80vw - 85vh)/2);
        }

        .textbox{
            overflow: auto;
            width: calc((80vw - 85vh)/2);
            height: 25vh;
            position: absolute;
            top: 0;
            left: calc((80vw + 85vh)/2);
        }
    }
    @media(max-width: calc(85vh + 20vw + 200px))
    {
        .in-game-menu{
            overflow: auto;
            width: 150px;
            height: 85vh;
            position: absolute;
            top: 0;
        }

        #player-menu{
            left: 0;
        }

        #token-menu{
            left: calc(80vw - 150px);
        }

        .maze-box{
            width: calc(80vw - 300px);
            position: absolute;
            bottom: 0;
            left: 150px;
        }

        .textbox{
            overflow: auto;
            width: calc(80vw - 300px);
            height: calc(85vh + 300px - 80vw);
            position: absolute;
            top: 0;
            left: 150px;
        }
    }
}

@media(max-width: calc(85vh + 20vw))
{
    @media(max-width: calc(85vh + 20vw - 200px))
    {
        .in-game-menu{
            overflow: auto;
            height: calc((85vh - 80vw)/2);
        }

        #player-menu{
            width: 80vw;
            position: absolute;
            top: 0;
            left: 0;
        }

        #token-menu{
            width: 50vw;
            position: absolute;
            top: calc((85vh + 80vw)/2);
            left: 30vw;
        }

        .maze-box{
            width: 80vw;
            position: absolute;
            top: calc((85vh - 80vw)/2);
            left: 0;
        }

        .textbox{
            overflow: auto;
            height: calc((85vh - 80vw)/2);
            width: 30vw;
            position: absolute;
            top: calc((85vh + 80vw)/2);
            left: 0;
        }
    }

    @media(min-width: calc(85vh + 20vw - 200px))
    {
        .in-game-menu{
            overflow: auto;
            height: 150px;
            width: 80vw;
            position: absolute;
            left: 0;
        }

        #player-menu{
            top: 0;
        }

        #token-menu{
            bottom: 0;
        }

        .maze-box{
            height: calc(85vh - 300px);
            position: absolute;
            top: 150px;
            left: calc(80vw + 300px - 85vh);
        }

        .textbox{
            overflow: auto;
            height: calc(85vh - 300px);
            width: calc(80vw + 300px - 85vh);
            position: absolute;
            top: 150px;
            left: 0;
        }
    }
}