@inject NavigationManager NavMg

@page "/PlayerConfiguration"

<PageTitle>MazeRunner</PageTitle>

<div class="center-content">
    <div class="container menu">
        <div class = "row justify-content-center">
            <h1>¿Cuantos jugadores son?</h1>
        </div>
        <div class = "row justify-content-center" style="margin: 3% 0;">
        @foreach (var (name, index) in names.Select((value, idx) => (value, idx)))
        {
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 container">
                <div class = "row justify-content-center">
                    <div class="col-10 cell">
                        <ItemDisplay path="@(numberOfPlayers > index ? $"img/{index + 1}.png": $"img/{index + 1}n.png")" OnClick="(number) => ChangeNumberOfPlayers(number)" number="@(index + 1)" />
                    </div> 
                </div> 
                <div class = "row justify-content-center">
                    <input class="col-8" type="text" @bind="names[index]" placeholder="@(numberOfPlayers > index ? $"Jugador {index + 1}": $"Bot {index + 1 - numberOfPlayers}")" />
                </div> 
            </div> 
        }
        </div>
        <div class = "row justify-content-center">
            <button class="btn btn-menu" @onclick="TryStart">Continuar</button>
        </div>
    </div>
</div>

@if(warningMessageIsActive)
{
<MessageBox title="Opción Inválida" message="Hasta ahora solo se permiten de 2 a 4 jugadores." btnMessageConfirm="De Acuerdo" isWithTwoButtons="false" OnConfirm="Confirm"/>
}

@code {
    static GameManager GM = GameManager.GM;
    static GeneratorManager GeM = GeneratorManager.GeM;
    private bool warningMessageIsActive = false;
    private int numberOfPlayers = 2;
    private string[] names = new string[4];

    private void Confirm(bool isConfirmed)
    {
        if (isConfirmed)
        {
            warningMessageIsActive = false;
        }
    }

    private void ChangeNumberOfPlayers(int number)
    {
        if(number > 1 && number < 5)
        {
            numberOfPlayers = number;
        }
        else warningMessageIsActive = true;
    }

    private void TryStart()
    {
        GM.InitializePlayers(numberOfPlayers, names);
        NavMg.NavigateTo("/MazeCreator");       
    }
}